*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
}
.header p {
  font-size: 0.75em;
  font-style: italic;
  font-weight: 100;
}
.header {
  padding: 1em 0;
  background-color: #23424a;
  color: #fff;
}
.container,
.main-content {
  width: 100%;
  margin: 0;
  padding: 0 1em;
}
.main-content {
  padding: 1em;
  border: 1px solid red;
}
.button-group {
  display: block;
  text-align: right;
}
.btn-submit {
  background-color: #23424a;
  border: 1px solid #23424a;
  color: #fff;
  width: 100%;
  padding: 0.25em;
  border-radius: 4px;
}
.btn-submit:hover {
  opacity: 0.75;
  color: #fff;
}
.intro {
  padding: 0.75em;
}
.intro h1 {
  font-size: 3em;
  font-style: bold;
  font-weight: 900;
}
.intro p {
  font-style: italic;
}
.intro img {
  width: 100%;
  height: auto;
}
.order-details {
  padding: 1em;
  display: block;
  text-align: center;
  background: #e8f0f2;
}
.order-details__wrapper {
  border: 1px solid rgba(35, 66, 74, 0.45);
  padding: 1em;
  border-radius: 3px;
}
.order-details ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
.order-details ul a {
  text-decoration: none;
  color: #000;
}
.order-details ul a:hover {
  color: red;
}
.order-totals {
  padding: 0.75em 0;
  border-top: 1px solid;
}
.order-summary {
  padding: 1em;
}
.completion-message {
  padding: 5em 0;
}
.empty-cart {
  padding: 5em 0;
  display: block;
  text-align: center;
  background: #a2dbfa;
  border-radius: 3px;
}
.empty-cart p {
  padding-top: 0.75em;
}
.delivery-region option:after {
  background-color: red;
}
span.price-tag {
  float: right;
}
.hide-div,
.hide-alert,
.hide-btn {
  display: none;
}
.validate {
  border-color: red !important;
}
.validate-form-check {
  color: red;
}
