*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
}

.header p {
  font-size: 0.75em;
  font-style: italic;
  font-weight: 100;
}
.header {
  padding: 1em 0;
  background-color: #23424a;
  color: #fff;
}
.container,
.main-content {
  width: 100%;
  margin: 0;
  padding: 0 1em;
}
.main-content {
  padding: 1em;
  border: 1px solid red;
}
/* .order-choices {
  border-right: 2px solid #23424a;
} */
.button-group {
  display: block;
  text-align: right;
}
.btn-submit,
.btn-order {
  background-color: #23424a;
  color: #fff;
  width: 40%;
  border: 1px solid #23424a;
  padding: 0.25em 0;
  border-radius: 4px;
}
.btn-submit:hover,
.btn-order:hover {
  opacity: 0.75;
  color: #fff;
}
.intro {
  padding: 0.75em;
  border: 1px solid green;
}

.intro h1 {
  font-size: 3em;
  font-style: bold;
  font-weight: 900;
}

.intro p {
  font-style: italic;
}

.intro img {
  width: 100%;
  height: auto;
}
.order-details{
    padding: 3em 0;
    border: 1px solid red;
}
.empty-cart{
    display: block;
    text-align: center;
}
.empty-cart img{
    width: 50%;
    height: auto;
    color: #fff;
}
span.price-tag{
    float: right;
}
.hide-div,
.hide-alert,
.hide-btn {
  display: none;
}
.validate {
  border-color: red !important;
}
/* button + button {
  margin-left: 0.5em;
} */
